<div class="row">
  <div class="col-4">
    <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
      <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#item-1">Sobre mim</a>
        <a class="nav-link" href="#item-2">Redes Sociais</a>
        <a class="nav-link" href="#item-3">Favoritos</a>
      </nav>
    </nav>
  </div>

  <div class="col-8">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      <div class="item">
        <h4>Sobre mim</h4>
        <p>Olá! Meu nome é Raissa Ruiz e sou apaixonada por BTS. Atualmente, estou concluindo o ensino medio integrado ao tecnico em ADS e adoro o que faço porque [motivo pelo qual você ama sua profissão].
          Nos meus tempos livres, gosto de [seu hobby], o que me ajuda a relaxar e manter a criatividade em alta.
          Estou sempre em busca de novos desafios e experiências que possam enriquecer tanto minha vida profissional quanto pessoal.
          Estou ansioso(a) para compartilhar e aprender com todos aqui!</p>
      </div>
      <div id="item-2">
        <h4>Item 2</h4>
        <p>...</p>
      </div>
      <div id="item-3">
        <h4>Item 3</h4>
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

  </div>
</div>








